{% extends 'base.html.twig' %}


{% block body %}
<div class="wrapper">
<section class="index">
  <h1> {{ title }}</h1>
  <div class="tbl-header" >
    <table class="tbl-header" cellpadding="0" cellspacing="0" border="0">
        {# <table class="table table-dark"> #}
      <thead>
        <tr>
          <th>Libelle</th>
          <th>Début </th>
          <th>Places théoriques</th>
          <th>Inscrits</th>
          <th>Places restantes</th>
          <th> Détails </th>
          {% if is_granted('ROLE_ADMIN') %}
            <th></th>
          {% endif %}
        </tr>
      </thead>
    </table>
  </div>
  

  <div class="tbl-content">
    <table>
      <tbody>
          {% for formation in formations %}
          <tr>
              <td> {{ formation.name }} </td>
              <td> {{ formation.startAt|date('Y/m/d') }}</td>
              <td> {{ formation.placemax}}</td>
              <td> {{ formation.stagiaires|length }}</td>
              <td> {{ (formation.placemax) - (formation.stagiaires|length)}} </td>
              <td> <a href="{{ path('show_detail_formation', {'id':formation.id}) }}"> <button type="button" class="btn btn-ligth" > Détails </button> </a></td>
              {% if is_granted('ROLE_ADMIN') %}
                <td><a href="{{ path('update_formation', {'id':formation.id}) }}"> <button type="button" class="btn btn-ligth" > Update </button> </a>
              {% endif %}
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</section>
{% endblock %}

{% block javascripts %}  
<script >
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
{% endblock %}

