{% extends 'base.html.twig' %}


{% block body %}
<div class="wrapper">
<section class="index">
  <h1>Stagiaires</h1>
  <div class="tbl-header" >
    <table class="tbl-header" cellpadding="0" cellspacing="0" border="0">
        
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom </th>
          <th>Date de naissance</th>
          <th> Détails </th>
          {% if is_granted('ROLE_ADMIN') %}
            <th></th>
          {% endif %}
        </tr>
      </thead>
    </table>
  </div>
  

  <div class="tbl-content">
    <table>
      <tbody>
          {% for stagiaire in stagiaires %}
          <tr>
              <td> {{ stagiaire.name }} </td>
              <td> {{ stagiaire.firstname }}</td>
              <td> {{ stagiaire.birthday|date('Y/m/d') }}</td>
              <td> <a href="{{ path('show_detail_stagiaire', {'id':stagiaire.id}) }}"> <button type="button" class="btn btn-ligth" > Détails </button> </a></td>
              {% if is_granted('ROLE_ADMIN') %}
                <td><a href="{{ path('update_stagiaire', {'id':stagiaire.id}) }}"> <button type="button" class="btn btn-ligth" > Update </button> </a></td>
              {% endif %}
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</section>
{% endblock %}

{% block javascripts %}  
<script >
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
{% endblock %}