{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="wrapper" class="p-3 mb-2 bg-transparent text-dark">
  
    <div class="btnarrow">
                <a href="{{path('show_all_formation')}}"> <i class="fas fa-arrow-circle-left"> </i> </a>
               </div>
    <section id="fixe" class="table2" >
            <h1 id="title1"> {{ formation.name }}</h1>
        {# <h1 id="title1"> {{ title }}</h1>  #}
        
        <table>
            <thead>
                <tr>
                    <th> Module  </th>
                    <th> Durée </th>
                    <th> Catégorie </th>
                </tr>
            </thead>
            <tbody>
                {% for jour in jours %}
                <tr>
                    <td> {{ jour.module.name }} </td> 
                    <td > {{ jour.nbjours ~ ' jour(s)' }}</td>
                    <td > {{ jour.module.categorie.type }} </td> 
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </section>


    <section id="scroll" class="container">
        <div class="sticky" >
            <h1 id="stagiaire"> {{ title2 }} </h1> 
         
            </div>
            <div class="stagiaire">
            {% for stagiaire in formation.stagiaires %}
                <div class="card" style="width: 20rem;margin:1em;" >
                        <div class="card-body">
                            <a href="{{ path('show_detail_stagiaire', {id:stagiaire.id}) }}"> <h2 class="card-title" style="font-size:1.7em;"> 
                              {{ stagiaire.name|upper }} <br> <em> {{ stagiaire.firstname }} </em> </h2> </a>  
                                <p class="card-title"> 
                                {{ stagiaire.birthday|date('Y/m/d')}} <br> <br>
                                <i class="fab fa-at"></i> {{ stagiaire.email|capitalize }} <br>
                                <i class="fas fa-phone-alt"></i>   {{ stagiaire.phone}} <br>
                                <i class="far fa-building"></i>  {{ stagiaire.city}} 
                                </p>
                        </div> 
                </div> 
            {% endfor %}
        </div>
    </section>
{% endblock %}

