{% extends 'base.html.twig' %}


{% block title %}{% endblock %}

{% block body %}
<div class="wrapper" class="p-3 mb-2 bg-transparent text-dark">
    <div class="btnarrow">
                <a href="{{path('select_all_stagiaire')}}"> <i class="fas fa-arrow-circle-left"> </i> </a>
               </div>
    <section id="fixe" class="table2" >
            <h1 id="title1"> {{ stagiaire.name ~ ' ' ~ stagiaire.firstname }}</h1>
            <p style="color:white;">{{ stagiaire.birthday|date('d-m-Y') }}</p>
            <p style="color:white;">{{ stagiaire.phone }}</p>
            <p style="color:white;">{{ stagiaire.email }}</p>
            <p style="color:white;">{{ stagiaire.city }}</p>
            {# <h1 id="title1"> {{ title }}</h1>  #}
    </section>


    <section id="scroll" class="container">
        <div class="sticky" >
            <h1 id="stagiaire"> </h1> 
         
            </div>
            <div class="stagiaire">
            {% for formation in stagiaire.formations %}
                <div class="card" style="width: 20rem;margin:1em;" >
                        <div class="card-body">
                            <h2 class="card-title" style="font-size:1.7em;"> 
                                {{ formation.name|upper }} </h2>  
                                <p class="card-title"> 
                                {{ formation.startAt|date('Y/m/d')}} <br> <br>
                                {{ formation.endAt|date('Y/m/d')}}
                                </p>
                                {% if formation.endAt < now and is_granted('ROLE_ADMIN')%}
                                    <a href="{{ path('edit_diplome', {'id':stagiaire.id, 'formation_id':formation.id}) }}"><button type="button" class="btn btn-dark" > Diplome </button></a>
                                {% endif %}
                        </div> 
                </div> 
            {% endfor %}
        </div>
    </section>
{% endblock %}
