<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% block title %}
                {% if title is defined %}{{title}}{% else %}Title{% endif %} | Nom du site
            {% endblock %}
        </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <style>
                @font-face{
                    font-family:'diploma';
                    src: url(./font/CloisterBlack.ttf);
                }
                body{
                    margin: 0 0 0 0;
                }
                img{
                    position: absolute;
                    padding: 0 0 0 0;
                    margin: 0 0 0 0;
                    top: 0;
                    height: 190mm;
                    max-width: 270mm;
                }
                .name{
                    font-family: 'diploma';
                    font-size: 48px;
                    position: absolute;
                    left: 370px;
                    top: 150px;
                }
                
                .ambiance{
                    font-family: 'diploma';
                    font-size: 22px;
                    color: #5D5958;
                    position: absolute;
                    left: 40px;
                    right: 40px;
                    top: 300px;
                }
        </style>
        <img src="C:\wamp64\www\exo-formation\public\assets\css\img\diploma.jpg" alt="">
        <p class='name'>{{ stagiaire.name ~ ' ' ~ stagiaire.firstname }}</p>
        <p class='ambiance'>a fini sa formation de {{ formation.name }} se deroulant du 
            {{formation.startAt|date('d-m-Y') }} au {{ formation.endAt|date('d-m-Y')}}.
        Il a gagner le droit de pointer a pôle emploi, et de rechercher un emploi! </p>
    </body>
</html>