{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="p-3 mb-2 bg-dark">
<div class="adminpanel">  <h3>Admin Panel</h3>
    <div>
    </div>
    <div>
        <ul>
            <li>1 - Catégorie </li>
            <li>2 - Module </li>
            <li>3 - Stagiaire </li>
            <li>4 - Formation </li>
            <li>5 - Formateur </li>
        </ul>
    </div>
</div> 
    
    {% for message in app.flashes('error') %}
      <div class="alert"> {{ message }}
        </div> 
    {% endfor %}
  
    <h4>Ajout</h4>
    
    <div class='btn-group' role='group' aria-label='admin panel group add'>
        <a role='button' class='btn btn-secondary' href='{{ path('add_formation') }}'>Formation</a>
        <a role='button' class='btn btn-secondary' href='{{ path('add_formateur') }}'>Formateur</a>
        <a role='button' class='btn btn-secondary' href='{{ path('add_stagiaire') }}'>Stagiaire</a>
        <a role='button' class='btn btn-secondary' href='{{ path('add_module') }}'>Module</a>
        <a role='button' class='btn btn-secondary' href='{{ path('add_categorie') }}'>Categorie</a>
    </div>
    {% if formulaire is defined %}
        {{ form(formulaire) }}
    {% endif %}

    <h4>Gestion</h4>
    <div class='btn-group' role='group' aria-label='admin panel group add'>
        <a role='button' class='btn btn-secondary' href='{{ path('link_formation_module') }}'>Formation-Module</a>
        <a role='button' class='btn btn-secondary' href='{{ path('link_formateur_categorie') }}'>Formateur-Categorie</a>
        <a role='button' class='btn btn-secondary' href='{{ path('link_stagiaire_formation') }}'>Stagiaire-Formation</a>
    </div>
    {% if formu is defined %}
        {{ form(formu) }}
    {% endif %}

    <h4>Suppression</h4>
    <div class='btn-group' role='group' aria-label='admin panel group del'>
        <a role='button' class='btn btn-secondary' href='{{ path('formation_del') }}'>Formation</a>
        <a role='button' class='btn btn-secondary' href='{{ path('formateur_del') }}'>Formateur</a>
        <a role='button' class='btn btn-secondary' href='{{ path('stagiaire_del') }}'>Stagiaire</a>
        <a role='button' class='btn btn-secondary' href='{{ path('module_del') }}'>Module</a>
        <a role='button' class='btn btn-secondary' href='{{ path('categorie_del') }}'>Categorie</a>
    </div>

    {% if form is defined %}
        {{ form(form) }}
    </div>
    {% endif %}
{% endblock %}