
*{
  box-sizing: border-box;
  
}



h1{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    /* text-align: center; */
    margin-bottom: 15px;
  }

  h4{
    margin-top: 1em;
    color: white;
  }

  h3{
    color: white;
  }
  table{
    width:100%;
    table-layout: fixed;
    margin: auto;
  }

  li {
    color : white;
  }

  

  a {
      text-decoration: none;
      color: black;
  }

  .wrapper{
    display : flex;
    width : 1224px;
    margin: auto;
    min-height:100vh; 

  }

  .alert{
    color : white;
    font-size : 2em;
  }

  .index{
    margin-top: 3em;
  }

  .tbl-header{
    border : 1px solid #fff;
    
   }
  .tbl-content{
    height:50%;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid #fff;
    
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 1.1em;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 1.1em;
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  /* #margin {
    margin:0;
    padding: 0;
  } */


  


/* Vue Détails Formation */ 


.table2{
    width: 25%;
    height: 30em;
    margin-top:2.5em;
    overflow: auto;
}

  #fixe {
    position : fixed;
    /* text-align: center; */
  }

  #scroll{
    position : relative;
    margin-left :36%;
  }

  .sticky{
    display: flex;
    position : sticky;
    flex-direction: column;
    align-items: flex-start;
    top: 8em;
    margin-left: 1em;
    font-size: 1em;
    text-align: center;

  }

   #t1{
    font-size: 3.5em;
     
   }

   #t2{
    font-size: 3.5em;

   }

   #t3{
     font-size :2.5em;
     top :2.5em;
   }

  .container {
      /* width: 100%; */
      /* display: flex; */
    flex-direction: row-reverse  }
  .stagiaire{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      margin-top: 3em;
   
  }

  #stagiaire{
    margin-left: 0.5em;
  }

  #form{
    font-size: 1.1em;
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  i {
      font-size : 1.3em;
      margin-right: 0.2em;
      color: #fff;
  }

  .btnarrow i{
    /* display: flex;
    justify-content: center; */
    margin-top :1em;
    margin-left: -1.5em;
    font-size :4em;
    position: fixed;
}

#nb{ 
    font-size: 0.8em;

}

.radio {
  display: flex;
  flex-direction: column;
  
  
}
/* 
.form-check-label{
 display:none;
} */

.login{
  margin: 0; 
  min-height: 100vh;
 margin-bottom: 50%;
}

.hidden {
  display: none;
} 
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    /* background: -webkit-linear-gradient(left, #25b7c4, #c1dfd2);
    background: linear-gradient(to right, #25b7c4, #c1dfd2); */
    font-family: 'Roboto', sans-serif;
  }
 
  
  
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }