{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{# {{ dump(json)}} #}
<div class="wrapper" class="p-3 mb-2 bg-transparent text-dark">
    <div class="btnarrow">
    <a href="{{path('show_all_formation')}}"> <i class="fas fa-arrow-circle-left"> </i> </a>
    </div>

    <section id="fixe" class="table2" >
        <h1 id="t1"> Recherche avancée </h1>
            <div class="form-group" id="form">
            {% if form is defined %}
                {{form_start(form) }}
                {{ form_row(form.recherche)}}
                {{ form_row(form.categorie)}}
                <div class="catch hidden" >
                    {{ form_row(form.from)}}
                    {{ form_row(form.to)}}
                </div>
                {{ form_row(form.search)}}
                {{ form_end(form)}}
            {% endif %}
        </div>
    </section>
    <section id="scroll" class="container">
        <div class="sticky" >
            
            <h1 id="t3"> Résultats  </h1> 
        <div class="result">           
        {% if results is defined %}
             <h2> {{ results|length }} résultats pour cette recherche. </h2>
             <table>
                 <tbody>
                    {% for  result in results %}
                        {% if result.type is defined %}
                            <tr>
                                <td>{{ result.type }} </td>
                            </tr> 
                        {% elseif result.firstname is defined %}
                            <tr>
                                <td> {{ result.name ~ ' ' ~ result.firstname }} </td>
                            </tr>
                        {% elseif result.name is defined %}    
                            <tr>
                                <td>{{ result.name }} </td>
                            </tr>
                        {% endif %}
                    {% endfor %} 
                </tbody>
            </table>
            {% endif %}
        {% if between is defined %}
        <table>
            {% for row in between %}
            <tr>
                <td>  {{ row.name }} </td>
                <td>   {{ row.startAt|date('Y-m-d') }}</td>
                <td>   {{ row.endAt|date('Y-m-d') }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        </div>
        </div>

    
        
    </section
    {% endblock %}

    {%  block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>

    <script>

   
    function switchDates(radio){
        let hiddens = document.getElementsByClassName('catch')
        
        Array.from(hiddens).forEach(function(hidden){
            if (radio.value == 'formation'){
                hidden.classList.remove('hidden')
            } else{
                hidden.classList.add('hidden')
            }
        })
        
    }   
    
    radios = document.getElementsByClassName("form-check-input")
    Array.from(radios).forEach(function(e){
       // console.log(e);
      e.addEventListener('click', function(){
          switchDates(this)
        }
      ) 
    })

  
  
    </script>
{%  endblock %}