<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% block title %}
                {% if title is defined %}{{title}}{% else %}Title{% endif %} | Nom du site
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css">
           
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block header %}
            <header id="header" class="bck1 border-bottom">
                <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
                    <ul class='navbar-nav mr-auto'>
                        <li class='nav-item'><a  class='btn btn-outline-light my-2 my-sm-0' class='nav-link' href="{{ path('show_all_formation') }}">Formation</a></li>
                        <li class='nav-item'><a  class='btn btn-outline-light my-2 my-sm-0' class='nav-link' href="{{ path('select_all_stagiaire') }}">Stagiaires</a></li> 
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class='nav-item'><a  class='btn btn-outline-light my-2 my-sm-0' class='nav-link' href="{{ path('app_logout') }}">Déconnection</a></li>
                            <li class='nav-item'><a  class='btn btn-outline-light my-2 my-sm-0' class='nav-link' href="{{ path('admin_panel') }}">Espace Admin </a></li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li class='nav-item'><a class='nav-link' href="{{ path('app_logout') }}">Déconnection </a></li>
                        {% else %}
                            <li class='nav-item'><a class='nav-link' href="{{ path('app_login') }}">Connection</a></li>
                        {% endif %}
                    </ul>
                    <form action='{{ path('search_result') }}' class='form-inline my-2 my-lg-2' method="GET">
                            <input type="search" name='s' class='form-control mr-sm-2' placeholder='search' aria-label='Search'>
                            <button type='submit' class='btn btn-outline-light my-2 my-sm-0'>Recherche </button>
                        </form>
                        <div class='navbar-nav nav-item'><a class='nav-link' href="{{ path('advanced_search') }}"> Recherche avancée </a>
                        </div>
                </nav>
            </header>
        {% endblock %}
       
        <div id="margin" class="p-3 mb-2 bg-dark">
            {% block body %}
            {% endblock %}
        </div>

        {% block footer %}
            <footer id="footer" class="bck1 border-top">
                <div class="container">
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}{% endblock %}

        
    </body>
</html>